<Config>
  <LogLevel>Info</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>8686</Port>
  <SslPort>6868</SslPort>
  <UrlBase>lidarr/</UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>d729959cdf4c4148adfa6afd8c301010</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>develop</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>